<a href="https://colab.research.google.com/github/Lecon-Git/Refactoring-Exercise7/blob/main/refactor_wine_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Refactor: Wine Quality Analysis
In this exercise, you'll refactor code that analyzes a wine quality dataset taken from the UCI Machine Learning Repository [here](https://archive.ics.uci.edu/ml/datasets/wine+quality). Each row contains data on a wine sample, including several physicochemical properties gathered from tests, as well as a quality rating evaluated by wine experts.

The code in this notebook first renames the columns of the dataset and then calculates some statistics on how some features may be related to quality ratings. Can you refactor this code to make it more clean and modular?

In [1]:
url = 'https://raw.githubusercontent.com/Lecon-Git/Refactoring-Exercise7/main/winequality-red.csv'

In [2]:
import pandas as pd
df = pd.read_csv(url, sep=";")

In [3]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

### Renaming Columns
You want to replace the spaces in the column labels with underscores to be able to reference columns with dot notation. Here's one way you could've done it.

In [4]:
new_df = df.rename(columns={'fixed acidity': 'fixed_acidity',
                             'volatile acidity': 'volatile_acidity',
                             'citric acid': 'citric_acid',
                             'residual sugar': 'residual_sugar',
                             'free sulfur dioxide': 'free_sulfur_dioxide',
                             'total sulfur dioxide': 'total_sulfur_dioxide'
                            })
new_df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

And here's a slightly better way you could do it. You can avoid making naming errors due to typos caused by manual typing. However, this looks a little repetitive. Can you make it better?

In [7]:
labels = list(df.columns)
for i in range(0, len(labels)):
  labels[i] = labels[i].replace(' ', '_')
df.columns = labels

df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

### Analyzing Features
Now that your columns are ready, you want to see how different features of this dataset relate to the quality rating of the wine. A very simple way you could do this is by observing the mean quality rating for the top and bottom half of each feature. The code below does this for four features. It looks pretty repetitive right now. Can you make this more concise? 

You might challenge yourself to figure out how to make this code more efficient! But you don't need to worry too much about efficiency right now - we will cover that more in the next section.

In [ ]:
median_alcohol = df.alcohol.median()
for i, alcohol in enumerate(df.alcohol):
    if alcohol >= median_alcohol:
        df.loc[i, 'alcohol'] = 'high'
    else:
        df.loc[i, 'alcohol'] = 'low'
df.groupby('alcohol').quality.mean()

In [ ]:
median_pH = df.pH.median()
for i, pH in enumerate(df.pH):
    if pH >= median_pH:
        df.loc[i, 'pH'] = 'high'
    else:
        df.loc[i, 'pH'] = 'low'
df.groupby('pH').quality.mean()

In [ ]:
median_sugar = df.residual_sugar.median()
for i, sugar in enumerate(df.residual_sugar):
    if sugar >= median_sugar:
        df.loc[i, 'residual_sugar'] = 'high'
    else:
        df.loc[i, 'residual_sugar'] = 'low'
df.groupby('residual_sugar').quality.mean()

In [ ]:
median_citric_acid = df.citric_acid.median()
for i, citric_acid in enumerate(df.citric_acid):
    if citric_acid >= median_citric_acid:
        df.loc[i, 'citric_acid'] = 'high'
    else:
        df.loc[i, 'citric_acid'] = 'low'
df.groupby('citric_acid').quality.mean()

In [55]:
features_related_to_winequality = ['alcohol', 'pH', 'residual_sugar', 'citric_acid']
median_feature_name = {'alcohol': 0, 'pH': 0, 'residual_sugar': 0, 'citric_acid': 0}

def compute_related_feature_mean(df, median_feature_name):
  for index, key in enumerate(median_feature_name):
    median_feature_name[key] = df[key].median()
    for i, label in enumerate(df[key]):
      if label >= median_feature_name[key]:
        df.loc[i, key] = 'high'
      else:
        df.loc[i, key] = 'low'
    df.groupby(key).quality.mean()


compute_related_feature_mean(df, median_feature_name)

In [58]:
df

      fixed_acidity  volatile_acidity citric_acid  ... sulphates  alcohol  quality
0               7.4             0.700         low  ...      0.56      low        5
1               7.8             0.880         low  ...      0.68      low        5
2               7.8             0.760         low  ...      0.65      low        5
3              11.2             0.280        high  ...      0.58      low        6
4               7.4             0.700         low  ...      0.56      low        5
...             ...               ...         ...  ...       ...      ...      ...
1594            6.2             0.600         low  ...      0.58     high        5
1595            5.9             0.550         low  ...      0.76     high        6
1596            6.3             0.510         low  ...      0.75     high        6
1597            5.9             0.645         low  ...      0.71     high        5
1598            6.0             0.310        high  ...      0.66     high        6

[1599 rows x 12 columns]